<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.znsd.tubaba.mapper.DiscountsMapper">
	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	
	<resultMap type="Discounts" id="discountsMap">
		<id property="id" column="id"/>
		
		<!-- 活动信息 -->
		<association property="activity" column="activityId" 
			select="com.znsd.tubaba.mapper.ActivityMapper.queryActivityOne"/>
		
		<!-- 景点信息 --> 
		<association property="scenic" column="scenicId" 
			select="com.znsd.tubaba.mapper.ScenicMapper.queryScenicById"/> 
		
		<!-- 旅游路线信息 --> 
		<association property="scenicway" column="scenicwayId"
			select="com.znsd.tubaba.mapper.ScenicwayMapper.queryById"/> 
	</resultMap>
	
	<!-- 通过旅游路线编号或景点编号查询活动记录信息 -->
	<select id="queryDiscountsByScenicwayIdOrScenicId" resultMap="discountsMap">
		SELECT * FROM discounts
		<where>
			<if test="scenicwayId != null and scenicwayId != ''">
				and scenicwayId = #{scenicwayId}
			</if>
			<if test="scenicId != null and scenicId != ''">
				and scenicId = #{scenicId}
			</if>
		</where>
	</select>
</mapper>