<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.znsd.tubaba.mapper.ScenicstatusMapper">

	<resultMap type="com.znsd.tubaba.entity.Scenicstatus" id="scenicstatusMap">
		<id property="id" column="id"/>
		<result property="puttime" column="puttime"/>
		<result property="serviceingtime" column="servicingtime"/>
		<result property="browseCount" column="browseCount"/>
		<result property="status" column="status"/>
	</resultMap>
	<!-- 增加景点状态  -->
	<insert id="addScenicstatus" parameterType="com.znsd.tubaba.entity.Scenicstatus" >
		INSERT INTO `db_tubaba`.`scenicstatus` (
		  `puttime`,
		  `servicingtime`,
		  `scenicId`
		) 
		VALUES
		  (
		    #{puttime},
		    #{serviceingtime},
		    #{scenics.id}
		  ) ;
	</insert>
	<!-- 根据id查询 -->
	<select id="queryStatusById" resultMap="scenicstatusMap">
		select * from scenicstatus where scenicId = #{id}
	</select>
	<!-- 根据id修改维护时间 -->
	<update id="updateScenicServicingtime" >
		UPDATE scenicstatus SET `servicingtime` = #{arg0} WHERE scenicId = #{arg1}
	</update>
</mapper>