.tec {
	text-align: center
}

.mt5 {
	margin-top: 5px
}

.mt10 {
	margin-top: 10px
}

.mt15 {
	margin-top: 15px
}

.mt20 {
	margin-top: 20px
}

.wy-icon, .lc-icon {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background: url(http://pic.lvmama.com/img/you/user_trip-icon.png)
		no-repeat
}

.lc-icon {
	background: url(http://pic.lvmama.com/img/you/icon_bg.png) no-repeat
}

.user-mytrip-tit {
	height: 34px;
	font: 18px/34px "Microsoft Yahei";
	color: #333
}

.user-myBlogs
table {
	width: 100%;
	color: #999;
	font-family: "Airal";
	font-size: 12px
}

.user-myBlogs thead
td {
	height: 33px;
	border-bottom: 1px solid #e3e3e3;
	background: #f6f6f6
}

.user-myBlogs
.wy_state_page {
	padding-top: 10px
}

.user-myBlogs
td {
	padding-left: 15px
}

.user-myBlogs tbody
td {
	border-bottom: 1px dashed #e3e3e3;
	height: 39px;
	line-height: 39px
}

.check-grey {
	margin-right: 2px;
	color: #999
}

.check-ok {
	margin-right: 2px;
	color: #390
}

.check-no {
	margin-right: 2px;
	color: #f30
}

.user-tags
span {
	margin-right: 4px;
	border: 1px solid #ff8700;
	color: #ff8700
}

.user-profit
em {
	color: #ff8700
}

.user-pls {
	color: #666
}

.user-myBlogs tbody
a {
	color: #666
}

.user-tags span, .label-good {
	display: inline-block;
	padding: 0 4px;
	height: 16px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	line-height: 17px;
	vertical-align: middle
}

.label-good {
	color: #fff;
	background: #f66
}

.user-mytrip-btn
a {
	width: 43px;
	height: 20px;
	display: inline-block;
	margin: 0 3px;
	border: 1px solid #ddd;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	line-height: 20px
}

.user-mytrip-btn a:hover {
	background: #f1f1f1;
	text-decoration: none;
	color: #666
}

.user-mytrip-list-tit a:hover {
	color: #f60
}

.icon_wyb {
	background-position: 0 -27px
}

.user-mywyb {
	padding-right: 8px;
	color: #666
}

.user-mywyb-left {
	width: 206px;
	border-right: 1px solid #e3e3e3
}

.user-mywyb-today {
	border-top: 1px solid #e3e3e3;
	background: #f6f6f6
}

.user-mywyb-today, .user-mywyb-cont {
	height: 119px;
	padding: 25px 0 0 28px
}

.user-mywyb-left
p {
	height: 45px;
	line-height: 45px
}

.user-mywyb-left
span {
	color: #f60;
	font-family: "Arial"
}

.user-mywyb-cont strong, .user-mywyb-det
strong {
	font: 14px/26px "Microsoft Yahei"
}

.user-mywyb-cont
span {
	font-size: 38px
}

.user-mywyb-today
span {
	padding: 0 4px;
	font-size: 24px
}

.user-mywyb-det {
	width: 602px
}

.user-mywyb-det
strong {
	padding: 2px 0;
	display: block
}

.user-mywyb-det
table {
	width: 100%;
	border-bottom: 1px solid #eee;
	font-family: "Arial"
}

.user-mywyb-det thead
td {
	background: #f6f6f6
}

.user-mywyb-det
td {
	height: 28px;
	color: #999
}

td.wyb-det-profit {
	color: #f90
}

.wy_state_page {
	padding: 5px 0;
	height: 25px;
	overflow: hidden;
	font-family: "宋体";
	font-size: 12px;
	color: #999;
	text-align: left
}

.wy_state_page
p {
	float: right;
	margin-left: 5px
}

.wy_state_page p
em {
	float: left;
	width: auto;
	height: 25px;
	margin-left: 5px;
	display: block
}

.wy_state_page
span {
	color: #f60;
	margin-right: 5px
}

.wy_state_page a, .wy_state_page
.pagesel {
	width: auto;
	height: 25px;
	line-height: 25px;
	padding: 0 8px;
	display: block;
	float: left;
	text-align: center;
	font-family: Arial;
	background: #F6F6F6;
	color: #666;
	margin-left: 5px;
	text-decoration: none
}

.wy_state_page a:hover, .wy_state_page
.pagesel {
	color: #FFF;
	background: #f60
}

.wy_state_page
a.prev {
	width: 25px;
	padding: 0px;
	height: 25px;
	display: block;
	float: left;
	background: url(http://pic.lvmama.com/img/you/icon_bg.png) -25px -75px
		no-repeat #f6f6f6
}

.wy_state_page a.prev:hover {
	background: url(http://pic.lvmama.com/img/you/icon_bg.png) -75px -75px
		no-repeat #f60
}

.wy_state_page
a.next {
	width: 25px;
	padding: 0px;
	height: 25px;
	display: block;
	float: left;
	background: url(http://pic.lvmama.com/img/you/icon_bg.png) 0px -75px
		no-repeat #f6f6f6
}

.wy_state_page a.next:hover {
	background: url(http://pic.lvmama.com/img/you/icon_bg.png) -50px -75px
		no-repeat #f60
}

.user-trip-help {
	padding: 10px 0 10px 15px
}

.user-trip-help
a {
	color: #09c
}

.user-trip-help a:hover {
	color: #f60
}

.user-trip-help
li {
	display: block;
	float: left;
	width: 385px;
	height: 24px;
	margin-right: 10px;
	overflow: hidden;
	list-style: disc inside
}

.icon_dian {
	display: inline-block;
	margin-right: 8px;
	width: 3px;
	height: 3px;
	overflow: hidden;
	background: #999;
	vertical-align: middle
}

.user-bd {
	border: 1px solid #e3e3e3
}

.user-mytrip-add {
	position: relative;
	width: 418px;
	height: 118px;
	padding-left: 145px
}

.user-mytrip-add
a {
	width: 152px;
	height: 36px;
	display: block;
	background: #f90;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 20px;
	color: #fff;
	line-height: 36px
}

.user-mytrip-add a:hover {
	text-decoration: none;
	background: #f60
}

.user-mytrip-daren {
	position: relative;
	width: 129px;
	height: 118px;
	padding-left: 114px
}

.user-mytrip-daren
a {
	font-size: 14px;
	color: #999
}

.user-mytrip-daren a:hover {
	color: #f60
}

.user-mytrip-oper
img {
	position: absolute;
	top: 0;
	left: 0
}

.user-mytrip-oper
strong {
	display: block;
	padding-top: 15px;
	font-size: 22px;
	font-weight: normal;
	line-height: 22px
}

.user-mytrip-oper {
	font-family: "Microsoft Yahei"
}

.user-mytrip-oper
p {
	color: #999;
	font-family: "\5B8B\4F53"
}

.user-mytrip-daren
strong {
	font-size: 16px
}

.icon_more {
	width: 4px;
	height: 8px;
	margin-left: 4px;
	background-position: -86px -8px
}

.user-mytrip-daren a:hover
.icon_more {
	background-position: -61px -8px
}

.user-mytrip-tit
span {
	font-size: 12px;
	font-family: "\5B8B\4F53";
	color: #09c;
	cursor: pointer
}

.user-mytrip-tit span:hover {
	color: #f60;
	text-decoration: underline
}

.icon-refresh {
	width: 22px;
	background-position: 0px -1px
}

.user-mytrip-tit span:hover .icon-refresh {
	background-position: -24px -1px
}

.user-trip-hot {
	position: relative;
	padding: 10px 9px
}

.user-trip-hot-list {
	position: relative;
	height: 172px;
	width: 808px;
	overflow: hidden
}

.user-trip-hot
ul {
	position: absolute;
	display: none
}

.user-trip-hot
ul.active {
	display: block
}

.user-trip-hot
li {
	margin: 0 8px 8px 0;
	float: left;
	display: inline;
	width: 196px;
	overflow: hidden
}

.lcsy-recview {
	position: relative;
	height: 131px;
	overflow: hidden
}

.lcsy-showText {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 212px;
	height: 40px;
	padding: 0 5px;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',
		startColorstr='#7F000000', endColorstr='#7F000000'
}

)
}
:root .lcsy-showText {
	filter: none;
	background-color: rgba(0, 0, 0, 0.5)
}

.lcsy-showText {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 186px;
	height: 40px;
	padding: 0 5px;
	color: #fff
}

.lcsy-showText
strong {
	display: block;
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
	height: 24px;
	text-overflow: ellipsis;
	white-space: nowrap
}

.lcsy-showText a, .lcsy-showText a:hover {
	color: #fff
}

.lcsy-showText
span {
	display: block;
	line-height: 17px;
	margin: -5px 0 0 -7px
}

.lcsy-reclistBtn {
	text-align: right;
	line-height: 33px
}

.lcsy-reclistBtn
a {
	padding-left: 10px;
	color: #999;
	text-decoration: none
}

a:hover
.icon_zan {
	background-position: -150px -175px
}

.icon_zan {
	background-position: -175px -175px
}

a:hover
.icon_view {
	background-position: -75px -25px
}

.icon_view {
	background-position: -50px -25px
}

a:hover
.icon_commit {
	background-position: -125px -25px
}

.icon_commit {
	background-position: -100px -25px
}

.icon_user {
	background-position: -125px -175px
}

.icon_null {
	background-position: -25px -26px
}

.img-fd a
img {
	vertical-align: top;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out
}

.img-fd a:hover
img {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05)
}

.JS_trip-hot-tag
span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #999;
	cursor: pointer
}

.JS_trip-hot-tag
span.active {
	background: #f60
}

.user-trip-hot .btnl, .user-trip-hot
.btnr {
	display: none;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 45px;
	text-align: center;
	background: url(http://pic.lvmama.com/img/you/lc_ban_lr.png) no-repeat
}

.user-trip-hot
.btnl {
	left: -1px
}

.user-trip-hot
.btnr {
	right: -1px;
	right: 0;
	background-position: 0 -100px
}

.user-trip-hot .btnl:hover {
	background-position: 0 -50px
}

.user-trip-hot .btnr:hover {
	background-position: 0 -150px
}

tbody.user-myBlogs-null
td {
	height: 85px;
	border-bottom: none
}

.user-myBlogs-null
i {
	margin-right: 5px
}

.det-null-icon {
	width: 32px;
	height: 32px;
	background-position: -68px -68px;
	margin-right: 5px
}

.user-mywyb-det-null {
	line-height: 288px
}

.user-mywyb
.none {
	color: #999
}

.user-mywyb
em.none {
	padding-left: 5px
}

.user-mytrip-list-tit
a {
	width: 165px;
	display: inline-block;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	line-height: 39px;
	text-overflow: ellipsis
}

.user-mytrip-list-tit
span {
	display: inline-block;
	float: left;
	line-height: 39px
}

.user-mytrip-list-tit .label-good {
	line-height: 17px;
	margin-top: 13px
}

.user-mywyb-today {
	padding-left: 0;
	text-align: center
}

.bcomwrite
span {
	display: inline-block;
	height: 22px;
	padding: 0 10px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	line-height: 22px;
	cursor: pointer;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9),
		to(#ededed));
	background: -webkit-linear-gradient(top, #f9f9f9, #ededed);
	background: linear-gradient(to bottom, #f9f9f9, #ededed)
}

.combtn-ico {
	display: block;
	width: 0;
	height: 0;
	margin-top: 10px;
	float: right;
	border: 4px solid transparent;
	border-top-color: #808080;
	overflow: hidden
}

.active .combtn-ico {
	border-top-color: transparent;
	border-bottom-color: #808080;
	margin-top: 6px
}

.integral-bonus {
	margin: 15px 0 30px 0;
	color: #666
}

.integral-bonus
h4 {
	font: normal 14px/26px "Microsoft Yahei"
}

.integral-bonus dfn, .integral-bonus dfn
i {
	font-weight: normal
}

.integral-bonus
strong {
	font-size: 38px;
	font-weight: normal;
	line-height: 36px
}

.integral-bonus
li {
	width: 170px;
	height: 100px;
	float: left;
	padding: 15px 0 0 38px;
	border-right: 1px solid #ddd
}

.integral-bonus
i {
	font-family: "Microsoft Yahei"
}

.integral-bonus
p {
	line-height: 18px
}

.bonus-info
i {
	font-size: 24px
}

.integral-info
strong {
	color: #65A147
}

.integral-info
i {
	font-size: 18px
}

.integral-info
a {
	color: #999;
	text-decoration: underline
}

.integral-info a:hover {
	color: #f60
}

li.integral-tips {
	padding-left: 20px;
	width: 370px;
	border-right: none
}

li.integral-tips
p {
	position: relative;
	padding: 0 0 4px 10px
}

li.integral-tips
span {
	color: #999;
	line-height: 24px
}

.icopoint {
	position: absolute;
	width: 5px;
	height: 5px;
	left: 0;
	top: 8px;
	background: #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px
}

.comwrite-btn
span {
	display: inline-block;
	height: 22px;
	padding: 0 10px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	line-height: 22px;
	cursor: pointer;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9),
		to(#ededed));
	background: -webkit-linear-gradient(top, #f9f9f9, #ededed);
	background: linear-gradient(to bottom, #f9f9f9, #ededed)
}

.comment-list
.oper {
	width: 80px
}

.nocomment {
	position: relative;
	padding-top: 20px;
	padding-left: 320px;
	height: 109px
}

.nocomment
img {
	position: absolute;
	top: 20px;
	left: 210px
}

.nocomment-tips {
	padding-top: 20px;
	color: #999;
	font-family: "Microsoft Yahei"
}

.nocomment-tips
h3 {
	font-size: 18px;
	font-weight: normal
}

.nocomment-tips
p {
	font-size: 14px;
	line-height: 30px
}

.nocomment-tips
a {
	display: block;
	width: 120px;
	height: 26px;
	border-radius: 5px;
	background: #f80;
	line-height: 26px;
	text-align: center;
	color: #fff
}

.nocomment-tips a:hover {
	background: #f60;
	text-decoration: none
}

.comment-head {
	height: 24px;
	padding: 0 5px;
	color: #666;
	line-height: 24px;
	border-bottom: 1px solid #dedede;
	background: #f8f8f8
}

.comment-head
span {
	display: block
}

.dorder-playtime {
	float: right
}

.dorder-name {
	float: left;
	width: 350px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.dorder-id {
	width: 180px;
	float: left
}

.ucomment-li
.cmt_situation {
	padding: 12px 0
}

.comment-list .comment-td {
	padding: 0
}

.comappend .comment-td {
	padding-bottom: 15px;
	background: #fff
}

.comment-td .comform-upload {
	padding-left: 3px
}

.comment-td
.comform {
	margin-top: 0;
	padding: 15px;
	border: 1px solid #ddd;
	border-top: none
}

.comappend .comform-t {
	overflow: hidden
}

.comment-td .comform-content
textarea {
	width: 508px
}

.comment-td .iconcom-boxdir {
	top: -8px;
	right: 35px
}

.comment-td .iconcom-close {
	top: 10px;
	right: 10px
}

.comment-td .comform-scorllbtn {
	left: -13px
}

.comment-td .comform-scorllbtn.scorllbtn-r {
	right: -12px;
	left: auto
}

.comment-td .comform-upload-box {
	position: absolute;
	left: 102px;
	width: 694px
}

.bought-table .order-bd
.other {
	width: auto !important
}

.comment-td
.commentsok {
	margin-top: 0
}

.ui-tab-box .comment-list {
	display: block;
	padding: 0
}

.lv-content .ufeed-content {
	font-size: 12px;
	line-height: 22px
}

.comment-box .ufeed-info {
	padding: 10px 0 5px
}

.comment-box .ufeed-content {
	margin: 0
}

.xcard .comappend .comment-td {
	padding: 0
}

.xcard .comment-td
.comform {
	border: none
}

.xcard .iconcom-boxdir {
	display: none
}