/*!
 * UI Compenents CSS 1.0
 * Copyright 2012, AUTHORS.txt
 *
 */

/* 娓愬彉
----------------------------------*/
.sl-linear {
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc),
		to(#f1f1f1));
	background: -moz-linear-gradient(top, #fcfcfc, #f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',
		endColorstr='#f1f1f1');
	background: -o-linear-gradient(top, #fcfcfc, #f1f1f1);
	background: linear-gradient(top, #fcfcfc, #f1f1f1);
}

/**
 * @name:           jQuery UI CSS Framework 1.8.21
 * @author:         jQuery UI
 * @description:    鍒囨崲缁勪欢
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}

.ui-helper-hidden-accessible {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	content: "";
	display: table;
}

.ui-helper-clearfix:after {
	clear: both;
}

.ui-helper-clearfix {
	zoom: 1;
}

.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter: Alpha(Opacity = 0);
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Interaction states
----------------------------------*/
/* #tabs
 * ui-tabs ui-widget ui-widget-content ui-corner-all
 * #tabs li
 * ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all
 * ui-state-default ui-corner-top ui-tabs-selected ui-state-active ui-state-hover
 * ui-corner-bottom
 * #tabs-2
 * ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide
 *
**/
.ui-tabs-nav {
	border-top: 1px solid #d8619b;
	/* border-bottom:1px solid #cfcfcf;background: #d8619b;*/
}

.ui-state-default {
	border: 1px solid #d8619b;
	color: #1c94c4;
}

.ui-state-default a {
	color: #fff;
}

.ui-state-default a:hover {
	text-decoration: none
}

.ui-state-active {
	border: 1px solid #d04489;
}

.ui-state-default a:hover {
	color: #fff;
}
/* Misc visuals-鍏朵粬瑙嗚鏁堟灉
----------------------------------*/

/* Corner radius-鍦嗚 
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
*/

/* Overlays */
.ui-widget-overlay {
	background: #666666
		url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
	opacity: .50;
	filter: Alpha(Opacity = 50);
}

.ui-widget-shadow {
	margin: -5px 0 0 -5px;
	padding: 5px;
	background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50%
		repeat-x;
	opacity: .20;
	filter: Alpha(Opacity = 20);
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/**
 * @name:           jQuery UI Tabs 1.8.21
 * @author:         jQuery UI
 * @description:    鍒囨崲缁勪欢
 * @example:
 * <div id="tabs">
 *     <ul>
 *     	<li><a href="#tabs-1">First</a></li>
 *     	<li><a href="#tabs-2">Second</a></li>
 *     	<li><a href="#tabs-3">Third</a></li>
 *     </ul>
 *     <div id="tabs-1">One</div>
 *     <div id="tabs-2">Two</div>
 *     <div id="tabs-3">Three</div>
 * </div>
 */
.ui-tabs {
	padding: .2em;
	zoom: 1;
}
	/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 2px 0 0;
	position: relative;
}

.ui-tabs .ui-tabs-nav li {
	position: relative;
	margin: 0 .2em 1px 0;
	border-bottom: 0 !important;
	padding: 0;
	white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
	padding: 0 1.1em 0 1.3em;
	height: 24px;
	line-height: 22px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-bottom: 0;
	padding-bottom: 2px;
	background: #fff;
	font-weight: bold;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #333;
	line-height: 25px;
}

.ui-tabs .ui-tabs-panel {
	display: block;
}

.ui-tabs .ui-tabs-hide {
	display: none !important;
}

.ui-tabs-gray .ui-tab-title {
	background: #f1f1f1;
	color: #555;
}

.ui-tabs-gray .ui-tabs-nav {
	border-top: 1px solid #f1f1f1
}

.ui-tabs-gray .ui-state-default {
	border: 1px solid #f1f1f1;
}

.ui-tabs-gray .ui-state-active {
	border: 1px solid #d8d8d8;
}

.ui-tabs-gray .ui-state-default a {
	color: #555
}

/**
 * @name:           lv Tabs 1.0
 * @author:         CloudYan
 * @description:    鍒囨崲缁勪欢-閾炬帴鏂伴〉闈㈠舰寮�
 * @example:
 * <div id="lv-tabs">
 *     <ul class="lv-tabs-nav">
 *     	<li class="lv-tabs-nav-selected"><a href="page1.html">First</a></li>
 *     	<li><a href="page2.html">Second</a></li>
 *     	<li><a href="page3.html">Third</a></li>
 *     </ul>
 *     <div class="lv-tabs-box lv-tabs-box-selected">One</div>
 *     <div class="lv-tabs-box">Two</div>
 *     <div class="lv-tabs-box">Three</div>
 * </div>
 */
.lv-tabs-nav {
	border-top: 1px solid #d8619b;
}

.lv-tabs-nav li {
	border: 1px solid #d8619b;
	color: #1c94c4;
}

.lv-tabs-nav li a {
	color: #fff;
}

.ui-state-default a:hover {
	text-decoration: none
}

.lv-tabs-nav-selected {
	border: 1px solid #d04489;
}

.lv-tabs-nav li a:hover {
	color: #fff;
	text-decoration: none
}

.lv-tabs-nav {
	margin: 0;
	padding: 2px 0 0;
	position: relative;
}

.lv-tabs-nav li {
	position: relative;
	margin: 0 .2em 1px 0;
	border-bottom: 0 !important;
	padding: 0;
	white-space: nowrap;
}

.lv-tabs-nav li a {
	padding: 0 1.1em 0 1.3em;
	height: 24px;
	line-height: 22px;
}

.lv-tabs-nav li.lv-tabs-nav-selected {
	margin-bottom: 0;
	padding-bottom: 2px;
	background: #fff;
	font-weight: bold;
}

.lv-tabs-nav li.lv-tabs-nav-selected a {
	color: #333;
	line-height: 25px;
}

.lv-tabs-nav small {
	font-weight: normal
}

.lv-tabs-box {
	display: none;
	padding: 10px 0 20px;
}

.lv-tabs-box-selected {
	display: block
}

/*鏂板澶村儚涓婁紶*/
.photo_main {
	padding: 10px 20px;
	overflow: hidden;
	zoom: 1;
}

.photo_main .photo_tips {
	padding: 0 0 10px 0;
	font-size: 12px;
	color: #999;
	clear: both;
}

.photo_box {
	float: left;
	width: 254px;
	height: 254px;
	overflow: hidden;
	border: #F7F7F7 solid 8px;
	background: #FCFCFC;
	position: relative;
}

.photo_icon {
	display: block;
	margin: 70px auto 0;
	width: 94px;
	height: 67px;
	background: url(../../../img/mylvmama/combo.gif) no-repeat 0 -350px;
	position: relative;
}

.btn_upload {
	margin: 15px auto 0;
	width: 128px;
	height: 28px;
	line-height: 28px;
	background: #f8f8f8;
	border: #ddd solid 1px;
	font-family: "寰蒋闆呴粦";
	color: #666;
	text-align: center;
	font-size: 14px;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.btn_upload:hover {
	background: #f5f5f5;
}

.btn_upload input {
	width: 300px;
	height: 30px;
	padding: 5px;
	position: absolute;
	right: 0;
	top: -5px;
	font-size: 40px;
	line-height: 30px;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	cursor: pointer;
	outline: none;
	hide-focus: expression(this.hideFocus = true);
}

.photo_box img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	display: none;
}

.move_box {
	border: #FEFE00 solid 1px;
	position: absolute;
	z-index: 4;
	overflow: hidden;
	display: none;
}

.move_box span {
	cursor: nw-resize;
	display: block;
	width: 13px;
	height: 13px;
	background: url(../../../img/mylvmama/combo.gif) no-repeat 0 -420px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 4;
}

.photo_ok {
	float: left;
}

.photo_ok li {
	float: left;
	margin-left: 35px;
	vertical-align: bottom;
}

.photo_img1 {
	margin-top: 140px;
}

.photo_img2 {
	margin-top: 180px;
}

.photo_img3 {
	margin-top: 242px;
}

.photo_ok li p {
	padding: 0;
	margin-top: 5px;
	color: #999;
	text-align: center;
	line-height: 16px;
}

.btn_photo_box {
	clear: both;
}

.btn_photo_box span {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	margin-right: 10px;
	text-align: center;
	font-size: 12px;
	border-radius: 3px;
	cursor: pointer;
}

.btn_photo_add {
	width: 74px;
	border: #f80 solid 1px;
	background: #f80;
	color: #fff;
}

.btn_photo_add:hover {
	background: #f60;
	border: #f60 solid 1px;
}

.btn_photo_add_stop, .btn_photo_add_stop:hover {
	border: #ddd solid 1px;
	background: #FDFDFD;
	color: #B9B9B9;
	cursor: default;
}

.btn_photo_remove {
	width: 50px;
	background: #f8f8f8;
	border: #ddd solid 1px;
	color: #666;
}

.btn_photo_remove:hover {
	background: #f5f5f5;
}

.img_bg {
	background: #000;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: none;
}

.up_loading {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../../../img/new_v/ui_scrollLoading/loadingGIF46px.gif)
		no-repeat center center #FCFCFC;
	display: none;
	z-index: 9;
}

.photo_tips_box {
	padding: 10px 0 0 38%;
	position: relative;
	overflow: hidden;
	display: none;
}

.photo_tips_box .tip-icon-big {
	float: left;
	margin-left: -45px;
	position: relative;
}

.photo_tips_box h5 {
	font-weight: normal;
	font-family: "寰蒋闆呴粦";
	font-size: 14px;
	color: #333;
}

.dialog-body .photo_tips_box p {
	font-size: 12px;
	color: #999;
	margin: 0;
}

.dialog .dialog-footer {
	text-align: center;
}